aioredis==1.2.0
apturl==0.5.2
asgiref==2.3.2
async-timeout==3.0.1
channels==2.1.7
channels-redis==2.3.3
cryptography==2.1.4
cupshelpers==1.0
daphne==2.2.5
decorator==4.1.2
defer==1.0.6
distro-info==0.18
dj-database-url==0.5.0
Django==2.0.7
gunicorn==19.9.0
hiredis==1.0.0
httplib2==0.9.2
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
IPy==0.83
MarkupSafe==1.0
msgpack==0.6.1
netifaces==0.10.4
networkx==1.11
numpy==1.13.3
oauth==1.0.1
olefile==0.45.1
pexpect==4.2.1
Pillow==5.1.0
pipenv==2018.11.26
protobuf==3.0.0
psycopg2==2.7.7
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyHamcrest==1.9.0
pymacaroons==0.13.0
redis==2.10.6
